<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
</head>

<body>
    <header>
        <h1>Home</h1>
    </header>
    <main>
        <table>
            <% if(productos.length > 0){ %>
                <% productos.forEach(producto => { %>
            <tbody>
                <tr>
                    <td><%= productos.objeto %></td>
                    <td><%= productos.precio %></td>
                </tr>
                <tr>
                    <td><%= productos.objeto %></td>
                    <td><%= productos.precio %></td>
                </tr>
                <tr>
                    <td><%= productos.objeto %></td>
                    <td><%= productos.precio %></td>
                </tr>
                    <td><%= productos.objeto %></td>
                    <td><%= productos.precio %></td>
                </tr>
                <tr>
                    <td><%= productos.objeto %></td>
                    <td><%= productos.precio %></td>
                </tr>
                <tr>
                    <td><%= productos.objeto %></td>
                    <td><%= productos.precio %></td>
                </tr>
                <tr>
                    <td><%= productos.objeto %></td>
                    <td><%= productos.precio %></td>
                </tr>
                <tr>
                    <td><%= productos.objeto %></td>
                    <td><%= productos.precio %></td>
                </tr>
                <tr>
                    <td><%= productos.objeto %></td>
                    <td><%= productos.precio %></td>
                </tr>
                <tr>
                    <td><%= productos.objeto %></td>
                    <td><%= productos.precio %></td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>
        <nav><a href="inicio">INICIO</a></nav>
    </footer>
</body>

</html>